html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

.game {
  width: 100vw;
  height: 100vh;
  background-color: #00abd6;
  background-image: url("img/clouds.jpg");
}

.start button {
  font-family: 'VT323', monospace;
  background-color: brown;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  border: gold 0.5rem solid;
  color: white;
  width: auto;
  height: auto;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 4rem;
  -webkit-animation: breathing 6s ease-out infinite normal;
  animation: breathing 6s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

.start {
  font-family: 'VT323', monospace;
  color: gold;
  font-size: 6rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #0ad, 0 0 20px #0ad, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
  }

  to {
    text-shadow: 0 0 20px #0ad, 0 0 30px #000001, 0 0 40px #000001, 0 0 50px #000001, 0 0 60px #000001, 0 0 70px #000001, 0 0 80px #000001;
  }
}
